@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #D3DEDC;
    background: linear-gradient(to bottom right, #283149 50%, #162447 50% );
}

.wrapper{
    background: rgba(124, 153, 172, 0.5);
    width: 450px;
    border-radius: 16px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    color: #162447;
}

.wrapper header h1{
    font-size: 25px;
    font-family: 'Prata', serif;
    letter-spacing: 8px;
    text-align: center;
}

/* --------- Signup Form --------- */

.form{
    padding: 25px 30px;
}

.form header{
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
}

.form form{
    margin: 20px 0;
}

.form form .errorMessage{
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    display: none;
}

.form form .nameDetail{
    display: flex;
}

form .nameDetail .field:first-child{
    margin-right: 10px;
}

form .nameDetail .field:last-child{
    margin-left: 10px;
}

.form form .field{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}

.form form .field label{
    margin-bottom: 2px;
}

.form form .field input{
    outline: none;
}

.form form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #D3DEDC;
    border-radius: 5px;
}

.form form .input input:hover{
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    transition: 0.5s;

}

.form form .image input{
    font-size: 17px;
}

.form form .button input{
    margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    background: #162447;
    color: #D3DEDC;
    border-radius: 5px;
    cursor: pointer;
}

.form form .button input:hover{
    transition: 0.5s;
    background: #D3DEDC;
    color: #162447;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    letter-spacing: 5px;
}

.form .link{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
}

.form .link a{
    color: #1B262C;
}

.form .link a:hover{
    transition: 0.5s;
    text-decoration: underline;
    color: #000;
    letter-spacing: 3px;
}

.form form i{
    position: absolute;
    right: 15px;
    color: #ccc;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form form i.active::before{
    content: "\f070";
    color: #333;
}


/* -------------- USER --------------*/

.users{
    padding: 25px 30px;
}

.users header, .user-list a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D3DEDC;
    padding-bottom: 20px;
}

.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}

.users header .content, .user-list a .content{
    display: flex;
}

.users header .content img{
    height: 50px;
    width: 50px;
}

.users header .details, .user-list .details{
    margin-left: 15px;
    color: #0f1931;
}

.users header .details span, .user-list .details span{
    font-size: 18px;
    font-weight: 500;
}

.users header .logout{
    color: #D3DEDC;
    font-size: 17px;
    padding: 7px 15px;
    background: #162447;
    border-radius: 5px;
}
.users header .logout:hover{
    transition: 0.5s;
    color: #162447;
    background-color: #D3DEDC;
}

.users .search{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.users .search .text{
    font-size: 18px;
}

.users .search input{
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

.users .search input.active{
    opacity: 1;
    pointer-events: auto;
}

.users .search button{
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    color: #D3DEDC;
    background: #162447;
    cursor: pointer;
    font-size: 17px;
    border-radius: 0 5px 5px 0;
    transition: all 0.2s ease;
}

.users .search button.active{
    color: #162447;
    background: #D3DEDC;
}

.users .search button.active i::before{
    content: "\f00d";
}

.user-list{
    max-height: 350px;
    overflow-y: auto;
}

.user-list::-webkit-scrollbar{
    width: 0px;
}

.user-list a{
    padding-right: 15px;
    margin-bottom: 15px;
    page-break-after: 10px;
    border-bottom-color: #f1f1f1;
}

.user-list a:last-child{
    border: none;
    margin-bottom: 0px;
}

.user-list a .content img{
    height: 40px;
    width: 40px;
} 

.user-list a .content p{
    color: gray;
}

.user-list a .status-dot{
    font-size: 12px;
    color: #4ECCA3;
}

.user-list a .status-dot.offline{ /*when user offline*/
    color: #D3DEDC;
}


/* ----------------- CHAT --------------- */

.chatScene header{
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.chatScene header img{
    height: 45px;
    width: 45px;
    margin: 0 15px;
}

.chatScene header img:hover{
    transition: 0.2s;
    height: 60px;
    width: 60px;
}

.chatScene header .backIcon{
    font-size: 18px;
    color: #162447;
}

.chatScene header .backIcon:hover{
    transition: 0.2s;
    transform: translateX(-4px);
}

.chatScene header span{
    font-size: 17px;
    font-weight: 500;
}

.chatBox{
    height: 500px;
    overflow-y: auto;
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0, 0, 0 / 5%), inset 0 -32px 32px -32px rgb(0, 0, 0 / 5%) ;
}

.chatBox::-webkit-scrollbar{
    width: 0;
}

.chatBox .chat{
    margin: 15px 0;
}

.chatBox .chat p{
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0, 0, 0 / 8%), 0 16px 16px -16px rgb(0, 0, 0 / 10%);
    word-wrap: break-word;
}

.chatBox .send{
    display: flex;
}

.send .details{
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.send .details p{
    background: #283149;
    color: #fff;
    border-radius: 18px 18px 0px 18px;
}

.chatBox .recieve{
    display: flex;
    align-items: flex-end;
}

.chatBox .recieve img{
    height: 35px;
    width: 35px;
}

.recieve .details{
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px);
}

.recieve .details p{
    color: #162447;
    background: #D3DEDC;
    border-radius: 18px 18px 18px 0;
}

.chatScene .typingArea{
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}

.typingArea input{
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #D3DEDC;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.typingArea button{
    width: 55px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    background: #283149;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
}